@import "~react-smde/dist/styles/react-smde.css";

.mde:hover {
	& .mde-textarea-wrapper {
		border-color: #40a9ff;
		transition: border-color 0.2s ease-in-out;
	}
}

.mde-toolbar,
.mde-grip {
	background: #fff;
}

.mde-toolbar {
	border-radius: 4px 4px 0 0;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}

.mde-grip {
	border-radius: 0px 0px 4px 4px;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.mde-textarea-wrapper {
	border: 1px solid #d9d9d9;
}

.svg-icon {
	color: #252525;
}
